body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.register-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width:30%;
}

.register-form {
    text-align: center;
}

h2 {
    color: #333;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.icon-container {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    z-index: 1;
}

.form-group input,
.form-group select {
    padding-left: 40px; /* Adjusted for icon */
    width: 100%;
    box-sizing: border-box;
}

.btn-primary {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #2980b9;
}

.login-link {
    margin-top: 20px;
}

.login-link a {
    color: #3498db;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
